/* Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Handlee';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';
@import 'https://fonts.googleapis.com/css?family=Quattrocento';
/* Google Fonts Ends */

/* Main CSS Style */
a {
	color:white;
	background-color: transparent;
}

a:hover {
	color:white;
	background-color: transparent;
}

a:active {
	color:white;
	background-color: transparent;
}

a:linked {
	color:white;
	background-color: transparent;
}

html, body {
	height:100%;
	margin:0px;
	padding:0px;
}

.body {
	height: 100%;
}

.headBg {
	width:100%;
	height:100px;
	background-size: cover;
	background-attachment: fixed;
}

.nav_bar {
	color:#ff9900;
	float:right;
	cursor: pointer;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}

.nav_bar:hover{
	color:white;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}

.potter_logo {
	font-family: 'Pacifico';
	font-weight: 100;
	font-size:30px;
	color:white;
}

.potter_logo_t {
	font-family: 'Pacifico';
	font-weight: 100;
	color:#ff9900;
	font-size: 40px;
}



.potter {
	width: 200px;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}
 .potter_main {
 	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color: white;
	font-weight: 600;
	text-shadow: 1px 2px 4px #000;
	letter-spacing: 5px;
 }

 .nav {
 	background: rgba(0, 0, 0, 0.9);
 	width: 100%;
 	height: 100%;
 	position: fixed;
 	top:0px;
 	left:0px;
 	display: none;
 }

 nav {
 	position: relative;
 }

 .navtab{
 	margin-top: 150px;
 	display: none;
 }

 .navtext {
 	font-family: 'Raleway', sans-serif;
 	font-size: 40px;
 	font-weight: bolder;
 	color:white;
 	cursor: pointer;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s; }

 .navtext:hover {
 	color: #ff9900;
 	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;

 }

 .closeNav {
 	font-weight: 'Poiret One';
 	font-size: 30px;
 	font-weight: 100;
 	color: white;
 	position: fixed;
 	top:50px;
 	right:70px;
  	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
	cursor: pointer;
 }

 .closeNav:hover {
 	color:#ff9900;
   	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}

.imgSection {
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	cursor: pointer;
}

.tabHover {
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(255, 153, 0, 0.53);
	width:100%;
	display: none;
	height: 500px;
}

.imgSection:hover .tabHover {
	display: block;
}

.tabHoverPlay {
	position: relative;
}

.tabPlay {
	padding: 120px 40px;
	color: black;
	font-size: 150px;
}

.textSection {
	background: white;
	min-height: 500px;
}

.Fulltab {
	background:url('../img/tabbg.jpg');
	width: 100%;
	height: 400px;
	background-size: cover;
	background-attachment: fixed;
}

.tabPadding {
	padding: 130px 30px;
	display: table-cell;
	vertical-align: middle;
}

.novelName {
	color: white;
	font-family: 'Slabo+27px', serif;
	font-size: 32px;
}

.novelLogo {
	color: #ff9900;
	font-size: 40px;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

.video {
	display: none;
	position: fixed;
	width: 100%	;
	height: 100%;
	top: 0px;
	left:0px;
	background: rgba(0, 0, 0, 0.9);
}

.videoTabRelative {
	position: relative;
}

.videoTab {
	max-width: 100%;
	max-height: 100%;
}

.textPadding {
	padding:40px 30px;
}

.JKQuotes {
	font-family: 'Quattrocento', serif;
	font-size: 30px;
	font-weight: 400;
	color:#000000;
}

.JKChar {
	color:#ff9900;
	font-size: 22px;
	font-family: 'Quicksand';
	font-weight: 600;
}

.functionBut {
	background:transparent;
	border:3px solid #ff9900;
	padding:10px 15px;
	margin-top: 100px;
	width:200px;
	height:70px;
	color:#ff9900;
	font-family:'Montserrat';
	font-size:20px;
	font-weight:400;
	border-radius:5px;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;

}

.functionBut:hover {
	background:black;
	border:3px solid black;
	color:#ff9900;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;

}



 .aboutHP {
 	background: rgba(0, 0, 0, 0.9);
 	width: 100%;
 	height: 100%;
 	position: fixed;
 	top:0px;
 	left:0px;
 	display: none;
 }

 .aboutHPRet {
 	position: relative;
 }

 .abouttab{
 	margin-top: 110px;
 	display: none;
 }

 .factHP {
 	background: rgba(0, 0, 0, 0.9);
 	width: 100%;
 	height: 100%;
 	position: fixed;
 	top:0px;
 	left:0px;
 	display: none;
 }

 .factHPRet {
 	position: relative;
 }

 .facttab{
 	margin-top: 110px;
 	display: none;
 }

 .sortHP {
 	background: rgba(0, 0, 0, 0.9);
 	width: 100%;
 	height: 100%;
 	position: fixed;
 	top:0px;
 	left:0px;
 	display: none;
 }

 .sortHPRet {
 	position: relative;
 }

 .sorttab{
 	margin-top: 60px;
 	display: none;
 }

 .sortingHat {
 	width:300px;
 }

 .abouttext {
 	font-family: 'Quattrocento', sans-serif;
 	font-size: 20px;
 	font-weight: bolder;
 	color:white;
 	cursor: pointer;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s; 
}

.HeadingTxt {
	font-family: 'Pacifico';
	font-size: 50px;
	color: #ff9900;
}

.footer	{
	background: black;
	width: 100%;
	min-height: 40px;
	border-top:1px #ff9900 solid;
}

.nextFact {
	color:white;
	cursor: pointer;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s; 
}

.nextFact:hover {
	color:#ff9900;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s; 
}

.factPad {
	padding: 0px 200px;
}

.copy {
	font-family: 'Quicksand';
	font-size: 13px;
	font-weight: 100;
	color:#ff9900;
	float: center;
}

.JKR{
	font-family: 'Quicksand';
	font-size: 13px;
	font-weight: 100;
	color:#ff9900;
	float: center;
}

.social{
	font-family: 'Quicksand';
	font-size: 13px;
	font-weight: 100;
	color:#ff9900;
	float: center;
	letter-spacing: 5px;
	cursor: pointer;
}
/* Main CSS Style End*/

/* Responsive CSS Style */
@media only screen and (max-width: 800px) {
	.potter_logo {
		font-size: 21px;
	}
	.potter_main {
		font-size: 26px;
		letter-spacing: 4px;
	}
	.potter {
		width:150px;
	}
	.potter_logo_t {
		font-size: 25px;
	}
	.navtext {
		font-size: 25px;
	}
	.imgSection {
		background-size: 170% 110%;
		background: ;
	}
	.abouttext {
		font-size: 15px;
	}
	.factPad{
		padding: 0px;
	}
	.closeNav {
		right:15px;
	}
	.sortingHat{
		width: 200px;
	}

	.copy {
		float: center;
		text-align: center;
	}
	.social {
		float: center;
		text-align: center;
	}
}
/* Responsive CSS Style Ends */